auto lo

iface lo inet loopback
iface eth0 inet dhcp

allow-hotplug wlan0
iface wlan0 inet static
address {{ ip }}
netmask 255.255.252.0
network 10.11.100.0
broadcast 10.11.103.255
gateway 192.168.1.254

wpa-roam /etc/wpa_supplicant/wpa_supplicant.conf
iface default inet dhcp
