
_____ _____________ ______
\__  \\_  __ \____ \\____ \
 / __ \|  | \/  |_> >  |_> >
(____  /__|  |   __/|   __/
     \/      |__|   |__|

{{ ansible_managed }}

Manual customization of this file is not recommended

IP: {{ ansible_default_ipv4['address'] }}
Hostname: {{ ansible_hostname }}

